<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: page-header"></header>

<form method="post">
    <div class="form-group">
        <label>Street
            <input th:field="${address.street}" class="form-control">
        </label>
        <p class="error" th:errors="${address.street}"></p>
    </div>
    <div class="form-group">
        <label>City
            <input th:field="${address.city}" class="form-control">
        </label>
        <p class="error" th:errors="${address.city}"></p>
    </div>
    <div class="form-group">
        <label>City
            <input th:field="${address.state}" class="form-control">
        </label>
        <p class="error" th:errors="${address.state}"></p>
    </div>
    <div class="form-group">
        <label>Zip Code
            <input th:field="${address.zipCode}" class="form-control">
        </label>
        <p class="error" th:errors="${address.zipCode}"></p>
    </div>

    <div class="form-group">
        <label>Rating
            <select th:field="${address.type}">
                <option th:each="type : ${types}"
                        th:value="${type}"
                        th:text="${type.displayRating}"
                ></option>
            </select>
        </label>
    </div>
    <div class="form-group">
        <label th:for="description">Address Information</label>
        <input type ="form-control" th:field="${addressInfo.details}" />
        <span th:errors="${addressInfo.details}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="description">Address Information</label>
        <input type ="checkbox" th:field="${addressInfo.isDangerous}" />
        <span th:errors="${addressInfo.isDangerous}" class="error"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Add Address class="btn btn-success">
    </div>
</form>

</body>
</html>
