<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: page-header"></header>



<table class="table table-striped">
    <thead>
    <tr>

        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>Zip Code</th>
        <th>Rating</th>
    </tr>
    </thead>
    <tr th:each="address : ${Addresses}">
        <td th:text="${address.street}"></td>
        <td th:text="${address.city}"></td>
        <td th:text="${address.state}"></td>
        <td th:text="${address.zipCode}"></td>
        <td th:text="${address.type.displayRating}"></td>
    </tr>
</table>

</body>
</html>