<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: page-header"></header>

<div class="container body-content">
    <h1 th:text="${''}"></h1>
    <h2 class = "centered">View Address</h2>
</div>

<table class="centeredTable">
    <tr>
        <th>Address</th>
        <th>Address Info</th>
        <th>Address Rating</th>
    </tr>

    <tr>
        <td>
            <li>
                <a th:href="@{/list/addresses(column='Address',value='View Address')}">View Address</a>
            </li>
        </td>
        <td>
            <li th:each="addressInfo : ${addressInfo}">
                <a th:href="@{/list/addresses(column= addressInfo,value=addressInfo.details)}" th:text="${addressInfo.details}"></a>
            </li>
        </td>

        <td>
            <li th:each="address : ${addresses}">
                <a th:href="@{/list/addresses(column=addressRating,value=${address.getType()})}" th:text="${addressRating}"></a>
            </li>
        </td>
    </tr>
</table>


</body>
</html>